@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');


.faq_component {
    overflow: hidden;
    box-sizing: border-box;

    .faq_question {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid rgba(38, 38, 38, 0.02);
        background: #FAFAFA;
        box-shadow: 0px 0px 8px 0px rgba(38, 38, 38, 0.04);
        cursor: pointer;
        user-select: none;

        h3 {
            color: #262626;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            margin: 0;
            transition: .2s;
        }
    }

    .wrapper {
        display: grid;
        overflow: hidden;
        transform-origin: top;
        background: #F2F2F2;
        transition: .3s;
        padding: 16px;
    }

    .faq_answer {
        color: rgba(38, 38, 38, 0.90);
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: 155%;
        border-radius: 0px 0px 8px 8px;
        transition: .3s;
        min-height: 0;
        transform-origin: top;
        word-spacing: 5px;
    }
}