@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    // &::selection {
    //     background-color: #262626;
    //     color: #FFD002;
    // }
}

body {
    background-color: #F5F5F5 !important;
    overflow-x: hidden;

    nav {
        background-color: #272829;
        padding: 15px 30px;
        user-select: none;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                font-size: 30px;

                a {
                    text-decoration: none;
                    color: white;
                }
            }

            .nav_links {
                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    gap: 32px;

                    li {
                        padding: 0;

                        a {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 150%;
                            text-decoration: none;
                            transition: .2s;

                            &:hover {
                                color: #FFD002 !important;
                            }
                        }
                    }
                }
            }

            .lang {
                position: relative;
                cursor: pointer;

                .selected_lang {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    span {
                        color: #FAFAFA;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                    }
                }

                .lang_options {
                    position: absolute;
                    left: -5px;
                    background-color: white;
                    border-radius: 4px;
                    z-index: 1000;
                    top: 30px;
                    height: fit-content;
                    overflow: hidden;

                    .option {
                        color: rgba(38, 38, 38, 0.80);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        padding: 5px 12px;
                        background-color: white;

                        &:hover {
                            background-color: rgba(38, 38, 38, 0.10) !important;
                        }
                    }
                }
            }
        }
    }

    main {
        section {
            padding: 100px 0;
        }

        #home {
            .home_left {
                padding-top: 50px;

                h1 {
                    color: #272829;
                    font-family: Montserrat;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    margin-bottom: 12px;
                }

                p {
                    color: #262626;
                    // font-family: Lato;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 155%;
                    margin-bottom: 32px;
                }

                a {
                    display: block;
                    text-decoration: none;
                    border-radius: 8px;
                    background: #FFD002;
                    color: #272829;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    width: 195px;
                    height: 52px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .home_right {
                position: relative;

                .imgcont {
                    width: 90%;
                    height: 490px;
                    margin-left: auto;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                }

                .home_services {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    left: -20px;
                    top: 73px;

                    .home_service {
                        display: flex;
                        width: 311px;
                        height: 64px;
                        justify-content: center;
                        align-items: center;
                        gap: 6px;
                        border-radius: 30px;
                        background: #FEFEFE;
                        box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.06);

                        &:nth-child(1) {
                            margin-left: 30px;
                        }

                        &:nth-child(3) {
                            margin-left: 30px;
                        }

                        .icon {
                            width: 36px;
                            height: 36px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        p {
                            margin: 0;
                            color: #262626;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 150%;
                        }
                    }
                }
            }
        }

        #about {
            .about_left {
                padding-top: 50px;

                h3 {
                    color: #272829;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                }

                h2 {
                    color: #272829;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                }

                p {
                    color: #262626;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 155%;
                }
            }

            .about_right {
                .img_cont {
                    width: 352px;
                    height: 352px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-left: auto;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .border_div {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        border-bottom: 30px solid #FFD002;
                        border-right: 30px solid #FFD002;
                        opacity: 0.7;
                        z-index: 100;
                        left: 0;
                        top: 0;
                    }
                }

            }
        }

        #services {
            .section_heading {
                display: flex;
                justify-content: center;
                margin-bottom: 60px;

                h2 {
                    color: #272829;
                    font-family: Roboto;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    position: relative;
                    margin: 0;
                    cursor: default;

                    &:hover {
                        .bottom_line {
                            width: 100%;
                        }
                    }

                    .bottom_line {
                        position: absolute;
                        width: 50%;
                        height: 17px;
                        background-color: #FFD002;
                        left: -2px;
                        z-index: -1;
                        bottom: 13px;
                        transition: 0.3s;
                    }
                }
            }

            .service_container {
                // padding-left: 40px;
                h3 {
                    color: #272829;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    margin-bottom: 20px;
                }

                .service_options {
                    .service_option {
                        display: flex;
                        gap: 12px;
                        align-items: center;
                        color: rgba(38, 38, 38, 0.90);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
}